@use "../../styles/colors";


.wrapper{
    width:100%; 
    height: 700px;
    display: flex;
    align-items: center;
    margin-top: 75px;
}
.container{
    width: 100%;
    height: 639px;
    // display: flex;
    // justify-content: space-around;
    // padding: 10px;
    background-color: colors.$primary_main;
}
.howContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight: 900;
    font-size: 3.75rem;
}
.description{
    width: 547px;
    height: 87px;
    font-size: 1rem;
    line-height: 26px;
}
.button{
    font-weight: bold;
    font-size: 1rem;
    background-color: colors.$text_primary !important;
    color: colors.$primary_main;
}
.stepsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
}